@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark base */
:root {
  color-scheme: dark;
}

body {
  background: linear-gradient(180deg, #050505 0%, #0b0b0b 100%);
  color: #ffffff;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
